{% load static %}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>评论添加</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
</head>
<body>
<!-- 导航栏 -->
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">管理员界面</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <!-- Add your navigation links if needed -->
            </ul>
        </div>
    </div>
</nav>
<!-- 主体部分 -->
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                评论添加
            </h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">

                    <div class="col-sm-8">
                        <label for="user" class="control-label">用户</label>
                        <select class="form-control" id="user" name="user">
                            <!-- Assuming `users` is the variable with user information -->
                            {% for user in users %}
                            <option value="{{ user.id }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>

                        <label for="movie" class="control-label">电影</label>
                        <select class="form-control" id="movie" name="movie">
                            <!-- Assuming `movies` is the variable with movie information -->
                            {% for movie in movies %}
                            <option value="{{ movie.id }}">{{ movie.moviename }}</option>
                            {% endfor %}
                        </select>

                        <label for="comment" class="control-label">评论内容</label>
                        <textarea class="form-control" id="comment" name="comment" placeholder="请输入评论内容"></textarea>

                        <label for="rating" class="control-label">评分</label>
                        <input type="number" class="form-control" id="rating" name="rating" placeholder="请输入评分（1-5）" min="1" max="5">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">添 加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script rel="script" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script rel="script" src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
</body>
</html>
